version: "3.5"
services:
  op-node:
    build:
      context: op-node
      args:
        UPSTREAM_VERSION: op-contracts/v.1.7.0-beta.1+l2-contracts
    environment:
      - CUSTOM_L1_RPC
      - CUSTOM_L1_BEACON_API
    restart: unless-stopped
    image: op-node.op-node.dnp.dappnode.eth:0.1.2
